/* DARK MODE ROOT */
body.dark {
  background-color: #121212;
  color: white;
}

/* NAVBAR */
body.dark nav {
  background: #222;
}

/* PRODUCT CARD FIX */
body.dark .product-card {
  background: #1e1e1e;
  color: white;
}

/* BUTTON FIX */
body.dark .btn-cart {
  background: #2e7d32;
}

body.dark .btn-wishlist {
  background: #c62828;
}